<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create a New Event:</h3>

    <form class="form new-project-form">
      <div class="form-group">
        <label for="event-title">Event Title:</label>
        <input
          class="form-input"
          type="text"
          id="event-title"
          name="event-title"
        />
      </div>
      <div class="form-group">
        <label for="event-time">Event Time:</label>
        <textarea
          class="form-input"
          id="event-time"
          name="event-time"
        ></textarea>
      </div>
      <div class="form-group">
        <label for="event-date">Event Date:</label>
        <input
          type="date"
          id="event-date"
          name="event-date"
          value=""
          min=""
          max="2029-12-31"
        />
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary event-list">Create</button>
      </div>
    </form>
  </div>

  {{#if events.length}}
    <div class="col-md-6 event-list">
      <h3>You're hosting:</h3>

      {{#each events as |event|}}
        <div class="row mb-2">
          <div class="col-md-8">
            <h4><a href="/event/{{event.id}}" data-id="{{event.title}}">{{event.title}}</a></h4>
          </div>
          <div class="col-md-4">
            <button class="btn btn-sm btn-danger" data-id="{{event.id}}">Remove
              Event</button>
          </div>
        </div>
      {{/each}}
    </div>
  {{/if}}
</div>

<script src="./js/dashboard.js"></script>